@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Merriweather+Sans:ital,wght@1,300&family=Merriweather:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

a{
    text-decoration: none;
}

/* header*/

header{
    width: 100%;
    height:115px;
    background-color: #003E0B;
}

#logo{
    color: #BED71B;
    font-family: merriweather, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-left: 50px;
    float: left;
    margin-top: 10px;
}

#menu{
   font-size: 150%;
   font-family: Lato, sans-serif;
   margin-right: 50px; 
}

#menu a{
    color: #BED71B;
    padding: 5px;
    border: 1px solid #003E0B;
}

#menu a:hover{
    border: 1px solid #BED71B;
    padding: 5px;
}

.active{
    border: 1px solid #BED71B  !important;
    padding: 5px;
}

#menu li{
    list-style-type: none;
    float: right;
    margin:10px;
}

#menu, #logo{
    line-height: 90px;
}
/*header*/

/*hero-image*/

.hero-outer{
    width: 100%;
    height: 820px;
    
}

#hero-image{
    background: url('/assets/images/backyard-hazards-hp-orig.jpg') no-repeat center center;
    width: 100%;
    height: 820px;
}

#hero-text{
    background-color: #fdfd00;
    color: #003E0B;
    margin-right: 50px;
    bottom: 100px;
    left: 50px;
    text-align: center;
    font-size: 150%;
    font-family: Merriweather, sans-serif;
    padding: 30px;
    border: 1px;
    border-radius: 50px;
    position:absolute;
}

#hero-text h3{
    font-family: Lato, sans-serif;
}

/*hero-image*/

/*youtube*/

.youtube-outer{
    width: 100%;
    height: 650px;
    
}

#youtube-video{
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
    margin-left: 50px;
}

  #youtube-video iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#youtube-text{
    float: right;
    color: #003E0B;
    width: 30%;
    height: 100%;
    margin-right: 50px;
    line-height: 50px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 150%;
    display: flex;
    align-items: center;
}

#youtube-text h2{
    font-family: Merryweather,sans-serif;
    font-style: italic;
}
/*youtube*/

/*footer*/

footer{
    width: 100%;
    height: 130px;
    padding: 1% 0 1% 0;
    background-color: #003E0B;
}

footer div{
    width: 100%;
    text-align: center;
}

#social{
    width: 100%;   
}

#social li{
    color: #BED71B;
    font-size: 400%;
    display: inline-block;
    width: 15%;
    border: 1px solid #003E0B;
    padding: 5px;
}

#social li:hover{
    border: 1px solid #BED71B;
    padding: 5px;
}

#copyright{
    color:#BED71B;
    font-family: Lato, sans-serif;
    display: inline-block;
}
/*footer*/

/*construction*/

#hero-construction{
    background: url('/assets/images/backyard-hazards-hp-orig.jpg') no-repeat center center;
    width: 100%;
    height: 420px;
}

#construction-image{
    background: url('/assets/images/shovel-breaking-ground-1.jpg') no-repeat center center;
    width: 100%;
    height: 420px;
}

#construction-text{
    background-color: #fdfd00;
    color: #003E0B;
    left: 50px;
    top: 400px;
    text-align: center;
    font-size: 150%;
    font-family: Merriweather, sans-serif;
    padding: 30px;
    border: 1px;
    border-radius: 50px;
    display: inline-block;
    position:absolute;
}

.intro-outer{
    width: 100%;
    text-align: center;
}

#con-intro{
    width: 25%;
    height: 100%;
    margin-top: 20px;
    display: inline-block;
    line-height: 60px;
    border-left: 2px solid #fdfd00;
    border-right: 2px solid #fdfd00;
    border-radius: 50px;
    padding: 10px;
}

#con-intro p{
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 100%;
}

.con-outer{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 150px;
}

#con-head{
    width: 100%;
    height: 100px;
    background-color:#003E0B;

}

#con-img{
    width: 50%;
    height: 100%;
    background-color: lawngreen;
    float: left;
}

#con-txt{
    width: 50%;
    height: 100%;
    background-color: lightseagreen;
    float: right;
}
/*construction*/