@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Merriweather+Sans:ital,wght@1,300&family=Merriweather:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

a{
    text-decoration: none;
}

/* header*/

header{
    width: 100%;
    height:115px;
    background-color: #003E0B;
    position: fixed;
    z-index: 10;
}

#spacer{
    height: 115px;
}

#logo{
    font-family: merriweather, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-left: 50px;
    float: left;
    margin-top: 10px;
    font-size: 200%;
}

#logo a{
    color: #BED71B;
}

#menu{
   font-size: 150%;
   font-family: Lato, sans-serif;
   margin-right: 50px; 
   
}

#menu a{
    color: #BED71B;
    padding: 5px;
    border: 1px solid #003E0B;
}

#menu a:hover{
    border: 1px solid #BED71B;
    padding: 5px;
}

.active{
    border: 1px solid #BED71B  !important;
    padding: 5px;
}

#menu li{
    list-style-type: none;
    float: right;
    margin:10px;
}

#ham-ul{
    display: none;
}

#menu, #logo{
    line-height: 90px;
}

/*hamburger-menu*/

.checkbutton{
    font-size: 100px;
    color: #BED71B;
    float: left;
    line-height: 90px;
    margin-left: 50px;
    font-size: 50px;
    display: none;
}

#check{
    display: none;
}

/*hamburger menu*/

/*header*/

/*hero-image*/

.hero-outer{
    width: 100%;
    height: 820px; 
}

#hero-image{
    background-size: 100%;
    width: 100%;
    height: 820px;
}

#hero-text{
    background-color: #fdfd00;
    color: #003E0B;
    margin-right: 50px;
    top: 700px;
    left: 50px;
    text-align: center;
    font-size: 150%;
    font-family: Merriweather, sans-serif;
    padding: 30px;
    border: 1px;
    border-radius: 50px;
    display: inline-block;
    position:absolute;
}

#hero-text h3{
    font-family: Lato, sans-serif;
}

/*hero-image*/

/*youtube*/

.youtube-outer{
    width: 100%;
    height: 650px;
    
}

#youtube-video{
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
    margin-left: 50px;
}

  #youtube-video iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#youtube-text{
    float: right;
    color: #003E0B;
    width: 30%;
    height: 100%;
    margin-right: 50px;
    line-height: 50px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 150%;
    display: flex;
    align-items: center;
}

#youtube-text h2{
    font-family: Merryweather,sans-serif;
    font-style: italic;
}
/*youtube*/

/*footer*/

footer{
    width: 100%;
    height: 130px;
    padding: 1% 0 1% 0;
    background-color: #003E0B;
    display: inline-block;
}

footer div{
    width: 100%;
    text-align: center;
}

#social{
    width: 100%;   
}

#social li{
    font-size: 400%;
    display: inline-block;
    width: 15%;
    border: 1px solid #003E0B;
    padding: 5px;
}

#social li:hover{
    border: 1px solid #BED71B;
    padding: 5px;
}

#social a{
    color: #BED71B;
}

#copyright{
    color:#BED71B;
    font-family: Lato, sans-serif;
    display: inline-block;
}
/*footer*/

/*construction-maintenance*/

#construction-image{
    background: url("assets/images/hero/pikwizard-a6b280b933d0448d52776e1d36d420e9.jpg") no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 420px;
}

#construction-text{
    background-color: #fdfd00;
    color: #003E0B;
    left: 50px;
    top: 400px;
    text-align: center;
    font-size: 150%;
    font-family: Merriweather, sans-serif;
    padding: 30px;
    border: 1px;
    border-radius: 50px;
    display: inline-block;
    position:absolute;
}


.intro-outer{
    width: 100%;
    text-align: center;
}

#con-intro{
    width: 480px;
    margin-top: 20px;
    display: inline-block;
    line-height: 60px;
    border-left: 2px solid #fdfd00;
    border-right: 2px solid #fdfd00;
    border-radius: 50px;
    padding: 10px;
}

#con-intro p{
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 100%;
}

.con-outer{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.con-headouter{
    width: 100%;
    height: 100px;
    background-color:#003E0B;
    display: inline-block;
}

.con-head{
    background-color: #fdfd00;
    color: #003E0B; 
    margin-top: 7px;
    font-size: 150%;
    font-family: Merriweather, sans-serif;
    padding: 20px;
    border: 1px;
    border-radius: 50px;
    display: inline-block;
}

.con-imgtxt{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.con-img{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.con-txt{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 30px;
}

.con-txt p{
    font-family: Lato, sans-serif;
    font-size: 120%;
}

/*construction-maintenance*/

/*maintenance*/

#maintenance-image{
    background: url("assets/images/hero/pexels-magda-ehlers-4162016.jpg") no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 420px;
}

#maintenance-text{
    background-color: #fdfd00;
    color: #003E0B;
    left: 50px;
    top: 400px;
    text-align: center;
    font-size: 150%;
    font-family: Merriweather, sans-serif;
    padding: 30px;
    border: 1px;
    border-radius: 50px;
    display: inline-block;
    position:absolute;
}

/*maintenance*/

/*tools*/

#tools-image{
    background: url("assets/images/hero/luis-feliciano-9EH5AkClwZ0-unsplash.jpg") no-repeat center center;
    width: 100%;
    background-size: 100%;
    height: 420px;
}

#tools-text{
    background-color: #fdfd00;
    color: #003E0B;
    left: 50px;
    top: 400px;
    text-align: center;
    font-size: 150%;
    font-family: Merriweather, sans-serif;
    padding: 30px;
    border: 1px;
    border-radius: 50px;
    display: inline-block;
    position:absolute;
}

.tool-outer{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.tool-headouter{
    width: 100%;
    height: 100px;
    background-color:#003E0B;
    display: inline-block;
}

.tool-head{
    background-color: #fdfd00;
    color: #003E0B; 
    margin-top: 7px;
    font-size: 150%;
    font-family: Merriweather, sans-serif;
    padding: 20px;
    border: 1px;
    border-radius: 50px;
    display: inline-block;
}

.tool-imgtxt{
    width: 25%;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
}

.tool-img{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.tool-txt{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

.tool-txt h3{
    font-family: Lato, sans-serif;
    font-size: 120%;
}

/*tools*/

/*contact*/

#contact-image{
    background: url("assets/images/hero/pikwizard-80fe1a289aa8c6eac7cb1d445efd1529.jpg") no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 850px;
}

#contact-text{
    background-color: #fdfd00;
    color: #003E0B;
    left: 50px;
    top: 400px;
    text-align: center;
    font-size: 150%;
    font-family: Merriweather, sans-serif;
    padding: 30px;
    border: 1px;
    border-radius: 50px;
    display: inline-block;
    position:absolute;
}

.contact{
    background-color: #fdfd007a;
    width: 40%;
    float: right;
    height: 550px;
    margin-right: 50px;
    margin-top: 150px;
    padding: 10px;
    border-radius: 50px;
    box-sizing: border-box;
    
}

input{
    background-color: #fff;
    width: 100%;
    height: 8%;
    margin-top: 20px;
    border-radius: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: #003E0B 1px solid;
    
}

input, input:focus{
    outline: none;
} 

textarea{
    background-color:#fff;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    border: #003E0B 1px solid;
    border-radius: 25px;

}

textarea, input:focus{
    outline: none;
} 

.button{
    background-color: #003E0B;
    color: #BED71B;
    width: 40%;
    float: left;
    margin-left: 50px;

}

.button:hover{
    background-color: #BED71B;
    color: #003E0B;
}

/*contact*/

/*media queries*/

@media (max-width:1300px){

    #hero-image{
        background-size: cover;
    }
    
    .contact{
        width: 50%;
    }

    .tool-imgtxt{
        width: 33.3%;
    }

}

@media (max-width: 1100px) {


    #logo{
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }


    .checkbutton{
        display: block;
        position: absolute;
        left: 10px;
    }

    #check{
        display: none;
    }

    #ham-ul{
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0px;
        font-weight: bolder;
        background-color: #003E0B;
        top: 115px;
        left:-100%;
        text-align: center;
        transition: all .5s;
        z-index: 10;
    }

    nav ul{
        display: none;
    }

    nav ul li{
        display: block;
        float: none !important;
    }

    #menu a{
    color: #BED71B;
    font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .checkbutton #logo{
        line-height: 90px;
    }

    #youtube-video{
        width: 100%;
        margin: 0;
    }

    #youtube-text{
        width: 100%;
        height: 400px;
        margin: 0;
    }

    #construction-image{
        background-size: cover;
    }

    .con-img{
        width: 100%;
    }
    
    .con-txt{
        width: 100%;
    }

    #maintenance-image{
        background-size: cover;
    }

    #tools-image{
        background-size: cover;
    }

    .tool-imgtxt{
        width: 50%;
    }
    
    .tool-img{
        width: 100%;
    }
    
    .tool-txt{
        width: 100%;
    }

    #contact-image{
        background-size: cover;
    }

    #contact-text{
        top: 135px;
    }

    .contact{
        background-color: #fdfd007a;
        width: 670px;  
    }  

    #contact-text{
        font-size: 15px;
    }
}

@media (max-width:900px){

    #contact-image{
        height: 883px;
    }

    #hero-text{
        top: 400px;
    }

    #ham-ul{
        height: 600px;
    }

    #hero-text{
        font-size: 15px;
    }

    #construction-text{
        font-size: 15px;
    }

    #maintenance-text{
        font-size: 15px;
    }

    #tools-text{
        font-size: 15px;
    }
}




@media (max-width: 700px){


    .checkbutton{
        font-size: 40px;
        margin: 0;
        margin-left: 10px;
    }

    #logo{
        font-size: 30px;
         
    }

    #hero-text{
        font-size: 15px;
        width: 210px;
    }

    #hero-text h2{
        font-size: 25px;
    }

    #youtube-text{
        font-size: 20px;
    }

    #youtube-video{
        height: 250px;
    }

    #construction-text{
        margin-left: 20px;
    }

    #construction-text h2{
        font-size: 25px;
    }

    #con-intro{
        width: 300px; 
    }

    .con-headouter{
        height: 87px;
    }

    .con-head h2{
        font-size: 25px;
    }

    .con-imgtxt{
        padding:0px;
    }

    #maintenance-text h2{
        font-size: 25px;
    }

    #tools-text{
        margin-left: 60px;
    }

    #tools-text h2{
        font-size: 25px;

    }

    #tool-headouter{
        height: 87px;
    }

    #tool-head h2{
        font-size: 25px;
    }

    .tool-imgtxt{
        width: 100%;
        padding: 0;
    }

    #contact-text{
        margin-left: 30px;
    }

    #contact-text h2{
        font-size: 25px;

    }

    .contact {
        width: 285px;
    }

    .button{
        width: 30%;
        margin: 0;
        margin-left: 35px;
        margin-top: 20px;
    }

    #social{
        font-size: 12px;

    }

    #copyright{
        font-size: 12px;
    }
}

@media (max-width:400px){
    #logo{
        padding-left: 50px;
    }
}